@tailwind base;
@tailwind components;
@tailwind utilities;
.icon{
    font-size: 30px;
    box-shadow: 2px 1px 20px gray;
}
.btn{
    padding: 10px 30px ;
    border: 2px solid rgb(162, 162, 162);
    margin: 10px;
    border-radius: 24px;
}
.btn1{
    background-color: dodgerblue;
}
